@model IEnumerable<moment2_mvc.Models.TaskModel>

@{
    ViewData["Title"] = "Home";
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4">All tasks</h1>
    </div>

    <div class="py-3">
        <h2>Task List</h2>
    </div>

    <div class="mt-2 mb-5">
        @* <h5>Last post made by @ViewBag.Name from @ViewBag.City </h5> *@
        <h5>Last post title: "@ViewBag.T" </h5>
    </div>

    <div class="row task-list">
        @foreach (var task in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="d-flex mb-3">
                    <div style="background-color: @task.Color" class="rounded-id">
                        @task.Id
                    </div>
                    <div class="px-4">
                        <div class="mb-4">
                            <h5>@task.Title</h5>
                            <p style="font-size:0.7em;margin-top:-0.5em;">Prio: @task.Prio</p>
                            <p style="font-size:0.7em;margin-top:-1.2em;">By: @task.Name, @task.City</p>
                            <p class="">@task.Description</p>
                        </div>
                        <a class="del-btn" asp-controller="Home" asp-action="Remove" asp-route-id=@task.Id>Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="social">
        @Html.Partial("_Partial", Model)
    </div>

</div>

@* CSS *@
<style>
    .rounded-id {
        padding: 2em;
        width: 40px;
        height: 40px;
    @*background-color:rgb(187,38,100);*@border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
</style>
