@model IEnumerable<moment2_mvc.Models.TaskModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4">All tasks</h1>
    </div>

    <div class="py-3">
        <h2>Task List</h2>
    </div>

    <div class="mt-2 mb-5">
        <h5>Last post made by @ViewBag.UserName from @ViewBag.City </h5>
    </div>

    <div class="row">
        @foreach (var task in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="">
                    <div class="d-flex">
                        <div class="rounded-id">
                            @task.Id
                        </div>
                        <div class="px-4">
                            <h5 class="">@task.Title</h5>
                            <p class="">@task.Description</p>
                            <button href="#" onclick="confirmAndRemove('@task.Id')">Remove Task</button>

                        </div>
                    </div>

                </div>

            </div>
        }
    </div>

    <div class="social">
        @Html.Partial("_Partial", Model)
    </div>

</div>

<script>
    function confirmAndRemove(id, event) {
        event.preventDefault();
        console.log("test");
        if (confirm('Are you sure you want to remove this task?')) {
            window.location.href = '/Home/Remove/' + id;
        }
    }
</script>


<style>
    .rounded-id {
        padding: 2em;
        width: 40px;
        /* Adjust the width as needed */
        height: 40px;
        /* Adjust the height as needed */
        background-color: rgb(187, 38, 100);
        border-radius: 50%;
        color: white;
        /* Optional: Text color */
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        /* Optional: Adjust font weight */
    }
</style>
